html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    color: dimgray;
    font-size: 16px;
}

.nav {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #383e4c;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    color: #f2f2f2;
    line-height: 75px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    height: 35px;
    border: solid 1px #646d7c;
}

.topnav a:hover,a.active  {
    background-color: #49505f;
    color: white;
}

#home {
    height: 100%;
    background-color: white;
    padding-top: 70px;
}

.home-wrapper {
    width: 100%;
    height: 800px;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../Images/bg-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-title {
    font-size: 100px;
    text-align: center;
    color: white;
    text-shadow: #000 3px 3px;
}

.home-content {
    font-size: 20px;
    text-align: center;
    color: white;
    text-shadow: none;
}

#about {
    height: 100%;
    background-color: white;
    padding-top: 40px;
}

.cards{
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
}


.xsm-card {
    transition: 0.2s;
    flex: 0 0 200px;
    margin:10px;
    display:flex;
    flex-direction:column;
}

.xsm-card-unequal {
    transition: 0.2s;
    flex: 0 0 200px;
    margin: 10px;
}

.sm-card {
    transition: 0.3s;
    flex: 0 0 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.sm-card-unequal {
    transition: 0.3s;
    flex: 0 0 300px;
    margin: 10px;
}

.md-card {
    transition: 0.3s;
    flex: 0 0 460px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.md-card-unequal {
    transition: 0.3s;
    flex: 0 0 460px;
    margin: 10px;
}

.lg-card {
    transition: 0.3s;
    flex: 0 0 850px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.lg-card-unequal{
    transition: 0.3s;
    flex: 0 0 850px;
    margin: 10px;
}

.card-container {
    padding: 10px;
    background-color: #e7e7e7;
    overflow: hidden;
    font-size: 14px;
    flex: 1;
}

.card-container-unequal {
    padding: 10px;
    background-color: #e7e7e7;
    overflow: hidden;
    font-size: 14px;
    flex: 1;
    margin-top:-10px;
}

.line-break {
    width: 100%;
    height: 50px;
}


.greenbutton {
    background-color: green;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    display: block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}

.bluebutton {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    display: block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}

.redbutton {
    background-color: darkred;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    display: block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}

.rmbutton {
    background-color: #f1f1f1;
    border: #555555 solid 1px;
    color: #555555;
    padding: 10px 24px;
    text-align: center;
    display: block;
    border-radius: 4px;
    float:right;
    font-size: 14px;
    font-weight: bold;
}

.defaultbutton {
    background-color: #f1f1f1;
    border: 1px solid gray;
    color: dimgray;
    padding: 10px 24px;
    text-align: center;
    display: block;
    border-radius: 10px;
    font-size: 16px;
}

.submitbutton {
    background-color:rgb(60, 60, 60);
    border: white solid 1px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    display: block;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

#service {
    height: 100%;
    background-color: white;
   
}

.service-wrapper {
    width: 100%;
    height: 300px;
    overflow-y: hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    background-image: url("../Images/bg-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.service-title {
    text-shadow: gray 3px 3px;
    font-size: 40px;
    color: white;
    text-align: center;
}

.service-info {
    height: 150px;
    width: 600px;
    font-size: 16px;
    text-align: center;
    color: white;
    text-shadow: none;
}

.service-panel {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-around;
    align-content:center;
}

.service-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}


#contact {
    height: 100%;
    background-color: white;
    padding-top: 70px;
}

.contact-wrapper {
    width: 100%;
    height: 800px;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    background-image: url("../Images/bg-3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contact-info {
    height: 150px;
    width: 600px;
    font-size: 16px;
    text-align: center;
    flex-wrap:wrap;
    margin:100px;
}
.contact-title {
    text-shadow: black 3px 3px;
    font-size: 40px;
    color: white;
    text-align: center;
   margin-bottom:30px;
}

.contact-content {
    font-size: 20px;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    text-shadow: none;
    margin-bottom: 10px;
}

.form-footer{
    display:flex;
    flex-direction:row;
    width:50%;
    float:right;
    margin-right:-25px;
}

.myForm {
    display: flex;
    padding: 10px; 
    flex-direction:row;
    width:100%;
}

.contact {
    flex: 1;
    order: 1;
    margin-right: 10px;
    text-align: left;
    color: black;
    width: 50%;
    display: flex;
    margin-left: -10px;
    flex-direction: column;
    justify-content: space-between;
}

.contact input {
    padding: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    border:none;
    font-size: 14px;
}

.message {
    display: flex;
    order: 2;
    flex-direction: column;
    width: 50%;
    margin-left: 15px;
    margin-right: -15px;
}

.message textarea {
    flex: 1;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: -15px;
}

#footer{
    height:100%;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}