html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    color: dimgray;
    font-size: 16px;
}

.nav {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #383e4c;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    color: #f2f2f2;
    line-height: 75px;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    height: 35px;
    border: solid 1px #646d7c;
}

.topnav a:hover {
    background-color: #49505f;
    color: white;
}

.topnav a.active {
    background-color: #49505f;
    color: white;
}

#home {
    height: 1000px;
    background-color: white;
    /*background-image: url("../Images/bg-1.jpg");
    background-size: cover;*/
    padding-top: 70px;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

.home-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../Images/bg-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-title {
    /*height: 500px;
    width: 500px;*/
    font-size: 100px;
    text-align: center;
    color: white;
    text-shadow: #000 3px 3px;
}

.home-content {
    font-size: 20px;
    text-align: center;
    color: white;
    text-shadow: none;
}

#about {
    height: 1000px;
    background-color: white;
    padding-top: 70px;
}



.cards {
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    align-items: stretch;
    flex-direction:row;
    justify-content: center;
}
.cards-nowrap {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-around;
}

.xsm-card {
    transition: 0.2s;
    flex: 0 0 200px;
    margin:10px;

}

.sm-card {
    transition: 0.3s;
    flex: 0 0 300px;
    margin:10px;
}

.md-card{
    transition: 0.3s;
    flex: 0 0 400px;
    margin:10px;
}

.lg-card{
    transition: 0.3s;
    flex: 0 0 850px;
    margin:10px;
}

.card-container {
    padding: 2px 16px;
    padding-bottom: 10px;
    margin-top: -4px;
    top: 0;
    background-color: #e7e7e7;
    overflow: hidden;
    font-size:14px;
}



.line-break {
    width: 100%;
    height: 50px;
}



.xl-card-container {
    padding: 2px 16px;
    padding-bottom: 20px;
    background-color: #e7e7e7;
    font-size: 14px;
    margin-top: -4px;
    overflow: hidden;
}

.greenbutton {
    background-color: green;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    display: block;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
}

.bluebutton {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    display: block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}

.redbutton {
    background-color: darkred;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    display: block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
}

.rmbutton {
    background-color: #f1f1f1;
    border: #555555 solid 1px;
    color: #555555;
    padding: 10px 24px;
    text-align: center;
    display: block;
    border-radius: 4px;
    float:right;
    font-size: 14px;
    font-weight: bold;
}

.defaultbutton {
    background-color: #f1f1f1;
    border: #555555 solid 1px;
    color: #555555;
    padding: 10px 24px;
    text-align: center;
    display: block;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}

#service {
    height: 100%;
    background-color: white;
    padding-top: 70px;
}

.service-wrapper {
    width: 100%;
    height: 300px;
    overflow-y: hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    background-image: url("../Images/bg-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.service-title {
    text-shadow: gray 3px 3px;
    font-size: 40px;
    color: white;
    text-align: center;
}

.service-info {
    height: 150px;
    width: 600px;
    font-size: 16px;
    text-align: center;
    color: white;
    text-shadow: none;

}

.service-panel {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-around;
    align-content:center;
}

.service-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}


#contact {
    height: 1000px;
    background-color: lightgoldenrodyellow;
    background-image: url("../Images/bg-3.jpg");
    background-size: cover;
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-title {
    height: 500px;
    width: 500px;
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: gray 3px 3px;
}

.contact-content {
    font-size: 20px;
    color: white;
}

textarea {
    width: 100%;
    height: 150px;
    resize: vertical;
    text-align: center;
    font-size: 18px;
    padding: 12px 20px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    resize: none;
}
